body{
    background-color: aquamarine;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.third {
    background-color: brown;
}

.article_container{
    display: flex;
    position: relative;
    left: 14em;
}

a{
    color: darkgoldenrod;
}